.c-grid {
  padding: 0;
  margin: 0 -.5rem;
  list-style: none;
  @include cf;
  &__item {
    width: 8rem;
    height: 8rem;
    margin: 0 .5rem;
    padding: .5rem;
    float: left;
    background: $yellow;
    color: $green;
    cursor: pointer;
    text-align: center;
  }
}
