html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  @include gradient($orange, $yellow);
  color: $green;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

button, input {
  transition: all .3s;
}

main {
  min-height: 100%;
  padding: 1rem 0;
  background: url('/static/bg.png') repeat-x center 100%;
}
