.o-btn {
  display: inline-block;
  margin: 0;
  padding: .5rem;
  border: .2rem solid;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  &--default {
    color: $primary;
    &:hover {
      background: $primary;
      border-color: $primary;
      color: $green;
    }
  }
  &--block {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
}
