.o-container {
  width: 120rem;
  max-width: 100%;
  margin: 0 auto;
  &--grid {
    display: flex;
    flex-wrap: nowrap;
  }
  &__sidebar {
    width: 33.3%;
  }
  &__main {
    width: 66.6%;
  }
}
